.reveal section img {
  border:0;
  box-shadow: none;
}

.reveal figure {
  display: inline-block;
  margin: 1em;
}

.reveal figcaption {
  font-size: 0.75em;
}

.box-model div {
  border:1px solid;
  margin: 0 1em 1em;
}

.rwd-demo h1 {
  color: black;
}
@media (min-width: 450px) {
  .rwd-demo h1 {
    color: red;
  }
}
@media (min-width: 650px) {
  .rwd-demo h1 {
    color: blue;
  }
}
@media (min-width: 850px) {
  .rwd-demo h1 {
    color: green;
  }
}
@media (min-width: 1050px) {
  .rwd-demo h1 {
    color: fuchsia;
  }
}

.lvfha a:active {
  color: fuchsia;
}
.lvfha a:visited {
  color: rebeccapurple;
}
.lvfha a:focus {
  color: limegreen;
}
.lvfha a:hover {
  color: red;
}
.lvfha a:link {
  color: blue;
}

.lvfha a ~ a:link {
  color: blue;
}
.lvfha a ~ a:visited {
  color: rebeccapurple;
}
.lvfha a ~ a:focus {
  color: limegreen;
}
.lvfha a ~ a:hover {
  color: red;
}
.lvfha a ~ a:active {
  color: fuchsia;
}
