.reveal section img {
  border:0;
  box-shadow: none;
}

.reveal figure {
  display: inline-block;
  margin: 1em;
}

.reveal figcaption {
  font-size: 0.75em;
}

.box-model div {
  border:1px solid;
  margin: 0 1em 1em;
}
